---
const { langPrefix } = Astro.props;
const prefix = langPrefix ?? "/";
---
<noscript>
  <a href={prefix || "/"} title="Maxsoft - Strony WWW">Maxsoft</a>
  <a href={`${prefix}/oferta/`} title="Oferta">Oferta</a>
  <a href={`${prefix}/kontakt/`} title="Kontakt">Kontakt</a>
</noscript>